<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mod" value="0"/> <!-- GameMod : 0=MainGame-->
    <add key="Players" value="2"/>
    <add key="Field_Width" value="16"/>
    <add key="Field_Height" value="16"/>
    <add key="Field_Depth" value="0"/> <!-- Means: Only Level = 0-->
    <add key="DB_Type" value="MSSQL"/>
    <add key="DB_User" value="local"/>
    <add key="DB_Password" value="local"/>
    <add key="DB_Server" value="localhost"/>
    <add key="DB_Name" value="stratic"/>
  </appSettings>
</configuration>